$main-brand-color : #CE7C2A;
$secondary-brand-color: #1A0B03;
$icon-color: #FFCC01;
$primary-light-color: #FFFFFF;
$secondary-light-color: #F5F5F5;
$dark-text-color: #444444;
$hover-btn-color: #173B67;
$footer-bg: #000000;
$secondary-text-color: #9797A1;