@use './partials/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');


div.wrapper {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Jost', sans-serif;
}

h2 {
    margin: 1.5rem 0;
    font-size: 1.8rem;
}

span.minititle {
    color: $secondary-brand-color;
    font-weight: 500;
    font-size: .7rem;
    padding-left: .5rem;
}

p {
    color: $dark-text-color;
}

a {
    text-decoration: none;
}

//font-awesome icon
svg {
    color: $main-brand-color;
}


article {
    width: calc((100% / 3) - 1.5rem);
    margin-left: 1.5rem;
}

.star {
    color: $icon-color;
    font-size: .65rem;
}

ul {
    margin-bottom: 0;

    li {
        list-style: none;
    }
}